<button mat-button color="accent" (click)="getDetails()">Details</button> 
<button mat-button color="warn" *ngIf="isDetails" (click)="backToList()">Back</button>

<div *ngIf="isDetails" [ngClass]="{'success' : !isDetails, 'warning' : isDetails}">
    <p class="card-text" >
      <img src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name}}.gif" alt="Pokemon"> 
      <p>
      <b>Type:</b> {{pokemon.types[0].type.name}}
      </p>
      <p>
      <b>Height:</b> {{pokemon.height}}
      </p>
      <p>
      <b>Health:</b> {{pokemon.stats[0].base_stat}}
      </p>
       <p>
      <b>Attack Power:</b> {{pokemon.stats[1].base_stat}}
      </p>
    </div>


