<p>
<mat-toolbar class="cardColor">
    <span class="center">Pokemon Battlefield</span>
    <a mat-button routerLink="/pokemonList">Pokemon List</a>
</mat-toolbar>
</p>


<mat-grid-list cols="2" rowHeight="100px" gutterSize="15px" *ngFor="let pokemon of pokemons | slice:1:2" >
    <mat-grid-tile>{{firstPokemon}} <img src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name}}.gif" ></mat-grid-tile>
    <mat-grid-tile>{{secondPokemon}} <img src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name}}.gif" ></mat-grid-tile>

  </mat-grid-list>