<p>
  <mat-toolbar class="header">
      <span class="center">Pokemon List</span>
      <a mat-button routerLink="/battlePage">Back To Battlefield</a>

  </mat-toolbar>
  </p>

  <div class="grid">
    <div *ngFor="let pokemon of pokemons | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="card d-flex justify-content-center" style="width: 18rem;">
        <div class="card-body">
          <app-pokemon-details [pokemon]=pokemon></app-pokemon-details>
        </div>
        <mat-card class="pokemon-card">
          <mat-card-header>
            <div mat-card-avatar class="pokemon-header-image"></div>
            <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <ngb-pagination [pageSize] = "15" [collectionSize]="pokemons.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  </div>

 


