<p>
  <mat-toolbar class="header">
      <span class="center">Pokemon List</span>
      <a mat-button routerLink="/battlePage">Back To Battlefield</a>

  </mat-toolbar>
  </p>

  <div class="grid">
    <div *ngFor="let pokemon of pokemons | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <b class="card-title">{{pokemon.name}}
             </b>
          <app-pokemon-details [pokemon]=pokemon></app-pokemon-details>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <ngb-pagination [pageSize] = "15" [collectionSize]="pokemons.length" [(page)]="page" [boundaryLinks]="true" aria-label="Default pagination"></ngb-pagination>
    <pre>Current page: {{page}}</pre>
  </div>
 


